.createMemoir-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 10px;
    padding: 20px;
    background: grey;
}

.createMemoir-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 10px;
    background: skyblue;
}

.createMemoir-container input {
    background: darkgreen;
    color: pink;
    font-family: arial;
    font-size: 2rem;
}

.createMemoir-container textarea {
    background: darkgreen;
    color: pink;
    font-family: arial;
    font-size: 2rem;
}

.createMemoir-container button {
    background: radial-gradient(green, yellowgreen);
    padding: 0.5rem;
    font-weight: 800;
    cursor: pointer;
}

.createMemoir-container button:hover {
    background: radial-gradient(green, greenyellow);
}

.createMemoir-container h2 {
    color: yellowgreen;
    filter: drop-shadow(3px 3px 0 black);
}