.createMemoir-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 20px;
    background: grey;
}

.createMemoir-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 10px;
    background: skyblue;
}

.createMemoir-container input {
    background: darkred;
    color: pink;
    font-family: arial;
    font-size: 2rem;
}

.createMemoir-container textarea {
    background: darkred;
    color: pink;
    font-family: arial;
    font-size: 2rem;
}