.memoirpage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: black;
}

.memoirPage-header {
    color: white;
    filter: drop-shadow(0 0 5px indigo);
    font-size: 4rem;
    padding: 1rem;
    border: solid;
    border-radius: 1rem;
    background: linear-gradient(to right, darkblue , purple);
    border-color: silver;
    margin-top: 1rem;
}