.memoirCardContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background: lightblue;
}

.memoirCard {
    min-width: 300px;
    max-width: 400px;
    height: auto;
    padding: 20px;
    display: block;
    color: white;
    background: rgb(20, 10, 50);
    border-radius: 20px;
}

.memoirCard h2 {
    color: gold;
}

.memoirCard h3 {
    color: greenyellow;
}