.memoirpage-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: black;
}

.memoirPage-header {
    grid-column: 1 / -1;
    color: white;
    filter: drop-shadow(0 0 5px indigo);
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
    border: solid;
    border-radius: 1rem;
    background: linear-gradient(to right, darkblue , purple);
    border-color: silver;
    margin-top: 1rem;
}