.memoirCardContainer {
    padding: 2rem;
    grid-column: span 8;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    gap: 10px;
    background: linear-gradient(to top right, blue -100%, skyblue, indigo 200%);
}

.memoirCard {
    width: 100%;
    height: auto;
    padding: 20px;
    display: block;
    color: white;
    background: linear-gradient(to top right, indigo -100%, black, purple 200%);
    border-radius: 20px;
}

.memoirCard h2 {
    color: gold;
}

.memoirCard h3 {
    color: greenyellow;
}